<ion-view title="Principal">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list" ng-submit="MainCtrl.login();">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="app.categorias" class="button button-stable button-block ">Entrar</a>
            <a ui-sref="registro" class="button button-positive button-clear button-block ">O registrate</a>
        </form>
    </ion-content>
</ion-view>