<ion-view>
    <ion-content scroll="false">
        <section class="login-container">
            <div class = "col header text-center">
               <img src="./img/ionic.png" class = "logo" />
            </div>
            <button class="button button-block button-positive" ng-click="MainCtrl.ir('app.categorias')">
              Entrar
            </button>
            <div class = "col text-center">
                No tienes aún una cuenta? <strong><a href = "#/usuarios/registro">Registrate ya!</a></strong>
            </div>            
        </section>
    </ion-content>
</ion-view>