<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Username</span>
    <input ng-model='RegistroCtrl.datosUsuario.username' type="text">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Nombre</span>
    <input ng-model='RegistroCtrl.datosUsuario.nombre' type="text">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Contraseña</span>
    <input ng-model='RegistroCtrl.datosUsuario.password' type="text">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Apellido</span>
    <input ng-model='RegistroCtrl.datosUsuario.apellido' type="text">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Servicio</span>
    <select ng-model='RegistroCtrl.datosUsuario.servicio'>
      <option ng-repeat="categoria in RegistroCtrl.categorias">{{categoria}}</option>
    </select>
  </label>
  <button class="button button-positive" ng-click="RegistroCtrl.registrar();">
    Registrarme
  </button>
</div>