<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Nombre</span>
    <input ng-model='registroCtrl.nombre' type="text">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Apellido</span>
    <input ng-model='registroCtrl.apellido' type="text">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Servicio</span>
    <input ng-model='registroCtrl.servicio' type="text">
  </label>
</div>