<ion-view view-title="Servicios-Cliente">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="servicioCliente in ServiciosClienteCtrl.serviciosCliente" ng-click="ServiciosClienteCtrl.abrirOpcionesServicio()">
      	<h2>{{servicioCliente.proveedor}}</h2>
        <p>{{servicioCliente.tipoServicio}}</p>
        <span>Estado del servicio: {{servicioCliente.estado}}</span>
        <ionic-ratings ng-if="servicioCliente.estado == 'prestado'" ratingsobj='ServiciosClienteCtrl.ratingsObject'></ionic-ratings>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>